.NotSelectedtab {
  background: #f9f9f9;
  box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.11);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
.SelectedTab {
  background: #ffffff;
  box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.11);
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}