.inputStyle{
    font-size:15px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 6px;
}

.textareaStyle{
    width: 100%;
    border-radius:4px;
    height:120px;
    padding:10px;
    outline:none;
    font-size:14px;
    border-width: 1px;
}