.inputStyle{
    font-size:15px;
    font-weight: bold;
    padding-top: 12px;
    padding-bottom: 6px;
    outline: none;
}

.textareaStyle{
    width: 100%;
    border-radius:4px;
    height:120px;
    padding:10px;
    margin-top: 12px;
    outline:none;
    font-size:14px;
    border-width: 1px;
}

.scrollCont::-webkit-scrollbar{
    display: none;
}